@model PasswordViewModel
<hr>
<div class="row">
    <div class="col-md-1">
        @Model.id
    </div>
    <div class="col-md-4">
        @Model.descrizione
    </div>
    <div class="col-md-4">
        @Model.sito
    </div>
    <div class="col-md-3" d-flex align-item-center>
        <a class="btn btn-outline-primary" asp-action="detail" asp-controller="Model" asp-route-id="@Model.id">Dettaglio Password</a>
    </div>
</div>