@model PasswordViewModel
<hr>
<div class="row">
    <div class="col-md-1">
        @Model.Id
    </div>
    <div class="col-md-4">
        @Model.Descrizione
    </div>
    <div class="col-md-4">
        @Model.Sito
    </div>
    <div class="col-md-3" d-flex align-item-center>
        <a class="btn btn-outline-primary" asp-action="Detail" asp-controller="Password" asp-route-id="@Model.Id">Dettaglio Password</a>
    </div>
</div>