@model HomeViewModel


<<div class="jumbotron">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">Gestione Password</p>
    <hr class="my-4">
    <p><a asp-controller="Password" asp-action="Index" class="btn btn-primary">Sfoglia la lista delle Password</a></p>
</div>

<section>
    <h2>
        Aggiunti di recente
    </h2>
    @foreach (var password in Model.List_UltimePassword)
    {
        <partial name="Passwords/_PasswordLine" model="@password"></partial>
    }
</section>