@model PasswordDetailViewModel
<section class="password-info">
    <div class="row">
        <div class="col-md-9">
            @Model.descrizione
        </div>
        <div class="col-md-3">
            altre info
        </div>
    </div>
</section>