@model PasswordEditInputModel

<section class="password-info">
    <form method="POST">
        <div class="row">
            <div class="col-md-9">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Salva</button>
                <button type="button" class="btn btn-danger btn-lg ml-3">Cancella</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12" asp-validation-summary="All"></div>
        </div>
        
        <input type="hidden" asp-for="Id">

        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label asp-for="Descrizione"></label>
                    <textarea asp-for="Descrizione" class="form-control" data-summernote rows="18"></textarea>
                    <span asp-validation-for="Descrizione"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sito"></label>
                    <input type="text" class="form-control form-control-lg" asp-for="Sito">
                    <span asp-validation-for="Sito"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input type="text" class="form-control form-control-lg" asp-for="Password">
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="col-md-3">
                <aside>
                    <div class="form-group">
                        <label asp-for="DataInserimento"></label>
                        <input type="date" asp-for="DataInserimento" class="form-control">
                        <span asp-validation-for="DataInserimento"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tipo"></label>
                        <select asp-items="@Html.GetEnumSelectList<TipoPassword>()" asp-for="Tipo" class="form-control"></select>
                        <span asp-validation-for="Tipo"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FkUtente"></label>
                        <input type="text" class="form-control form-control-lg" asp-for="FkUtente">
                        <span asp-validation-for="FkUtente"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PathFile"></label>
                        <img src="@Model.PathFile" class="img-thumbnail">
                    </div>
                </aside>
            </div>
        </div>
    </form>
</section>

@section Scripts
{
    <partial name="_Validation"></partial>
    <partial name="_Summernote"></partial>
}