@model PasswordEditInputModel

<section class="password-info">
    <form method="POST" enctype="multipart/form-data">
        <input type="hidden" asp-for="RowVersion">
        <div class="row">
            <div class="col-md-9">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Salva</button>
                <button class="btn btn-danger btn-lg ml-3" type="button" data-toggle="modal" data-target="#delete-modal">Cancella</button>
            </div>
        </div>

        <div class="row">
            <div class="col-12" asp-validation-summary="All"></div>
        </div>
        
        <input type="hidden" asp-for="Id">

        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label asp-for="Descrizione"></label>
                    <textarea asp-for="Descrizione" class="form-control" data-summernote rows="18"></textarea>
                    <span asp-validation-for="Descrizione"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sito"></label>
                    <input type="text" class="form-control form-control-lg" asp-for="Sito">
                    <span asp-validation-for="Sito"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input type="text" class="form-control form-control-lg" asp-for="Password">
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="col-md-3">
                <aside>
                    <div class="form-group">
                        <label asp-for="DataInserimento"></label>
                        <input type="date" asp-for="DataInserimento" class="form-control">
                        <span asp-validation-for="DataInserimento"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tipo"></label>
                        <select asp-items="@Html.GetEnumSelectList<TipoPassword>()" asp-for="Tipo" class="form-control"></select>
                        <span asp-validation-for="Tipo"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FkUtente"></label>
                        <input type="text" class="form-control form-control-lg" asp-for="FkUtente">
                        <span asp-validation-for="FkUtente"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PathFile"></label>
                        <div class="preview-container">
                            <img id="preview" src="@Model.PathFile" asp-append-version="true">
                        </div>
                        <div class="custom-file mt-3">
                           <input type="file" class="custom-file-input" asp-for="FilePassword" onchange="updatePreview(this)">
                           <label class="custom-file-label" asp-for="FilePassword"></label> 
                           <span asp-validation-for="FilePassword"></span>
                           <p><small>L'immagine verra' ritagliata quadrata</small></p>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </form>

    <form method="POST" asp-action="Delete" asp-route-id="@Model.Id">
        <<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="delete-modal-title" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="my-modal-title">Conferma Eliminazione</h5>
                        <button class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Stai per eliminare la password e i dati andranno persi. Confermi l'eliminazione?</p>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button class="btn btn-light" type="button" data-dismiss="modal">Annulla</button>
                        <button type="submit" class="btn btn-danger">Conferma</button>
                    </div>
                </div>
            </div>
        </div>
    </form> 
    
</section>

@section Scripts
{
    <partial name="_Validation"></partial>
    <partial name="_Summernote"></partial>

   <script>
       function updatePreview(par_InputFile) {
           var var_Reader = new FileReader();
           var_Reader.readAsDataURL(par_InputFile.files[0]);
           var_Reader.onload = function (e) {
               $('#preview').attr('src', e.target.result);
           };
       }
   </script> 
}